doctype html(lang='en')
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='')
	meta(name='author' content='David Watkins')
	title
		| LIRSM NLP Affirmations Data
	link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet')
	link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
body

	nav.navbar.navbar-default(role='navigation')
		.container-fluid
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					|                         
					span.icon-bar
					|                         
					span.icon-bar
					|                         
					span.icon-bar
					|                     
				a.navbar-brand(href='#') LIRSM
			// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='/') LIRSM Data
					|                         
					li
						a(href='/uploadcsv') Update Database
					li
						a(href='/drop') DROP TABLES BEFORE EXITING
			// /.navbar-collapse
		// /.container-fluid
		|                
	.container-fluid
		.row
			.col-md-12
				.btn-group
					.btn-group
						button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Studies
							span.caret                          
						ul#studyDropDown.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
							each groups, study in Studies
								li(role='presentation')
									a(role='menuitem', tabindex='-1', href='javascript:populateGroups("#{encodeURI(study)}");') #{study}
					.btn-group
						button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Groups
							span.caret                          
						ul#groupDropDown.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
							
					|                           
					button.btn.btn-default(type='submit' action='submit' onclick='javascript:populateTable();') Change View
					|                         
					button.btn.btn-default(type='submit' onclick="javascript:exportCSV();") Download View as CSV
					|  
		|        
		br   
		.row
			.col-md-12
				.panel.panel-default(style="overflow: scroll; height: 800px;")
					// Default panel contents
					#table_header.panel-heading LIRSM Data
					// Table
					table.table
						table#display.table
							thead#tableHeader                             
							tbody#tableBody         
	footer
		.container
			.row
				.col-md-12
					p.copyright.text-muted.small Created by David Watkins - 2014
	// jQuery Version 1.11.0
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	// Bootstrap Core JavaScript
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

	script(src='../js/BinaryHeap.js')
	script(src='../js/Utf8ArrayToStr.js')

	script(type='text/javascript').
		var currentStudy;
		var currentGroup;
		var currentHeaders;
		var currentDataLength;

		function populateGroups(study) {
			currentStudy = study;

			var newGroupString = "";// = "<li role='presentation'><a role='menuitem', tabindex='-1', href='javascript:selectGroup(\"All\");'>All</a></li>";
			var studyIterator = !{(JSON.stringify(Studies).toString())};

			for(var group in studyIterator[study]) {
				if(studyIterator[study][group] != "")
					newGroupString += "<li role='presentation'><a role='menuitem', tabindex='-1', href='javascript:selectGroup(\"" + studyIterator[study][group] + "\");'>" + studyIterator[study][group] + "</a></li>"
			}

			if(newGroupString == "")
				currentGroup = "All";
			else
				currentGroup = null;

			$('#groupDropDown').html(newGroupString);
		}

		function selectGroup(group) {
			currentGroup = group;
		}

		function populateTable() {
			if(currentGroup == null || currentStudy == null || currentStudy == "")
				$('#table_header').html('LIRSM Data');
			else {	
				$('#table_header').html('Showing: ' + currentStudy + ":" + currentGroup);

				var postData = {};
				postData.study = currentStudy;
				postData.group = currentGroup;
				//postData = JSON.stringify(postData);
				 $.ajax({
				 	type: 'POST',
		            url: '/ajax/table',
		            dataType: 'json',
		            data: postData,
		            success: function(data) {
		            	console.log(data.length);
		                recordData(data);
		            },
		            error: function(jqXHR, textStatus, errorThrown) {
		                alert(errorThrown);
		            }
		        });
			}
		}

		function generateHeaders(data, headers) {
			var pathHeatMap = {},
				markHeatMap = {},
				essayHeatMap = {};

			for(var i in data) {
				var subject = data[i];

				headers[0].values[i] = subject["ID"];
				headers[1].values[i] = subject["Study"];
				headers[2].values[i] = subject["Group"];
				headers[3].values[i] = subject["Ethnicity"];
				headers[4].values[i] = subject["Gender"];
				headers[5].values[i] = subject["Condition"];

				analyzeForContent(subject["File_path"], 'file_path', pathHeatMap, getNormalHeader, data.length, i);
				analyzeForContent(subject["Mark"], 'mark', markHeatMap, getNormalHeader, data.length, i);
				analyzeForContent(subject["Essays"], "Body", essayHeatMap, getEssayHeader, data.length, i);
			}

			handleHeatMap(pathHeatMap, headers);
			handleHeatMap(markHeatMap, headers);
			handleHeatMap(essayHeatMap, headers);
		}

		function handleHeatMap(heatMap, headers) {
			heap = new BinaryHeap(scoreValue);
			var maxVal = 0;
			for (var key in heatMap) {
			  if (heatMap.hasOwnProperty(key)) {
			    heap.push(heatMap[key]);
			    if(heatMap[key].value > maxVal)
			    	maxVal = heatMap[key].value;
			  }
			}

			while(heap.size() > 0) {
				var value = heap.pop();
				if(value.value > 0.1 * maxVal)
					headers.push(value);
				else
					console.log(value.header + " has too few values: " + value.value)
			}
		}

		function analyzeForContent(object, content_val, heatMap, getHeader, arraySize, indexInArray) {
			for(var i in object) {
				var current = object[i];

				if(current[content_val] != null && current[content_val] != "") {
					var name = (heatMap[current['header']] != null && heatMap[current['header']].index != current['index']) ? current['header'] : current['header'] + current['index'];

					if(heatMap[name] == null) {
						 var newVal = {value: 1, index: current['index'], header: getHeader(current), values: new Array(arraySize)};
						 newVal.values[indexInArray] = current[content_val];
						 heatMap[name] = newVal;
					}
					else {
						heatMap[name].value++;
						heatMap[name].values[indexInArray] = current[content_val];
					}
				}
			}
		}

		function cleanr(a) {
		  a = a.replace(/[\u2018\u2019]/g, "'");
		  a = a.replace(/[\u201C\u201D]/g, '"');
		  return a;
		};

		function getValue(current) {
			return (current == null) ? "" : cleanr(current);
		}

		function getNormalHeader(current) {
			return current['header'];
		}

		function getEssayHeader(current) {
			return current['header'] + "(" + current['Intervention'] + ")";
		}

		function recordData(data) {
			var headers = [{header: "ID", values: new Array(data.length)},
						   {header: "Study", values: new Array(data.length)},
						   {header: "Group", values: new Array(data.length)},
						   {header: "Ethnicity", values: new Array(data.length)},
						   {header: "Gender", values: new Array(data.length)},
						   {header: "Condition", values: new Array(data.length)}];

			generateHeaders(data, headers);

			currentHeaders = headers;
			currentDataLength = data.length;

			var headString = "<tr>";
			for(var head in headers)
				headString += "<td>" + headers[head]['header'] + "</td>";
			$('#tableHeader').html(headString + "</tr>");

			var tableString = "";
			var headersLength = headers.length;
			for(var i = 0; i < data.length; i++) {
				tableString += "<tr>";
				for(var headIndex = 0; headIndex < headersLength; headIndex++) {
					tableString += "<td>" + getValue(headers[headIndex].values[i]) + "</td>";
				}
				tableString += "</tr>";
			}
			$('#tableBody').html(tableString);
		}

		function exportCSV() {
			var csvContent = "data:text/csv;charset=utf-8,";
			currentHeaders.forEach(function(header, index) {

				if(index < currentHeaders.length - 1)
						csvContent += header['header'] + ",";
				else
					csvContent += header['header'];
			});
			csvContent += "\n";

			for(var i = 0; i < currentDataLength; i++) {
				for(var headIndex = 0; headIndex < currentHeaders.length - 1; headIndex++) {
					csvContent += getValue(currentHeaders[headIndex].values[i]) + ",";
				}
				csvContent += getValue(currentHeaders[currentHeaders.length - 1].values[i]) + "\n";
			}

			var encodedUri = encodeURI(csvContent);
			var link = document.createElement("a");
			link.setAttribute("href", encodedUri);
			link.setAttribute("download", currentStudy + "-" + currentGroup + "-view.csv");
			link.click();
		}
