doctype html(lang='en')
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(name='description' content='')
	meta(name='author' content='David Watkins')
	title
		| LIRSM NLP Affirmations Data
	link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet')
	link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
body

	nav.navbar.navbar-default(role='navigation')
		.container-fluid
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					|                         
					span.icon-bar
					|                         
					span.icon-bar
					|                         
					span.icon-bar
					|                     
				a.navbar-brand(href='#') LIRSM
			// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='/') LIRSM Data
					|                         
					li
						a(href='/uploadcsv') Update Database
			// /.navbar-collapse
		// /.container-fluid
		|                
	.container-fluid
		.row
			.col-md-12
				.btn-group
					.btn-group
						button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Studies
							span.caret                          
						ul#studyDropDown.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
							each groups, study in Studies
								li(role='presentation')
									a(role='menuitem', tabindex='-1', href='javascript:populateGroups("#{encodeURI(study)}");') #{study}
					.btn-group
						button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							| Groups
							span.caret                          
						ul#groupDropDown.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
							
					|                           
					button.btn.btn-default(type='submit' action='submit' onclick='javascript:populateTable();') Change View
					|                         
					button.btn.btn-default(type='submit' onclick="javascript:exportCSV();") Download View as CSV
					|  
		|        
		br   
		.row
			.col-md-12
				.panel.panel-default(style="overflow: scroll; height: 800px;")
					// Default panel contents
					#table_header.panel-heading LIRSM Data
					// Table
					table.table
						table#display.table
							thead#tableHeader                             
							tbody#tableBody         
	footer
		.container
			.row
				.col-md-12
					p.copyright.text-muted.small Created by David Watkins - 2014
	// jQuery Version 1.11.0
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
	// Bootstrap Core JavaScript
	script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

	script(type='text/javascript').
		var currentStudy;
		var currentGroup;
		var currentTable;
		var currentHeaders;

		function populateGroups(study) {
			currentStudy = study;

			var newGroupString = "";// = "<li role='presentation'><a role='menuitem', tabindex='-1', href='javascript:selectGroup(\"All\");'>All</a></li>";
			var studyIterator = !{(JSON.stringify(Studies).toString())};

			for(var group in studyIterator[study]) {
				if(studyIterator[study][group] != "")
					newGroupString += "<li role='presentation'><a role='menuitem', tabindex='-1', href='javascript:selectGroup(\"" + studyIterator[study][group] + "\");'>" + studyIterator[study][group] + "</a></li>"
			}

			if(newGroupString == "")
				currentGroup = "All";
			else
				currentGroup = null;

			$('#groupDropDown').html(newGroupString);
		}

		function selectGroup(group) {
			currentGroup = group;
		}

		function populateTable() {
			if(currentGroup == null || currentStudy == null || currentStudy == "")
				$('#table_header').html('LIRSM Data');
			else {	
				$('#table_header').html('Showing: ' + currentStudy + ":" + currentGroup);

				var postData = {};
				postData.study = currentStudy;
				postData.group = currentGroup;
				//postData = JSON.stringify(postData);
				 $.ajax({
				 	type: 'POST',
		            url: '/ajax/table',
		            dataType: 'json',
		            data: postData,
		            success: function(data) {
		            	console.log(data.length);
		                recordData(data);
		            },
		            error: function(jqXHR, textStatus, errorThrown) {
		                alert(errorThrown);
		            }
		        });
			}
		}

		function recordData(data) {
			var headers = ["ID", "Study", "Group", "Ethnicity", "Gender", "Condition"];
			var table = [];
			var raw = JSON.parse(JSON.stringify(data));
			console.log(raw.length);

			var index = 0;
			var first = raw[0];
			console.log(first);
			for(var k in first["File_path"]) {
				headers.push("File Path " + (parseInt(k) + 1));
			}
			for(var k in first["Mark"]) {
				headers.push("Mark " + (parseInt(k) + 1));
			}

			for(var k in first["Essays"]) {
				headers.push(first["Essays"][k]["Question"] + " (" + first["Essays"][k]["Intervention"] + ")");
			}

			index = 0;
			for(var subject in data) {
				table[index] = [];
				table[index].push(data[subject]["ID"]);
				table[index].push(data[subject]["Study"]);
				table[index].push(data[subject]["Group"]);
				table[index].push(data[subject]["Ethnicity"]);
				table[index].push(data[subject]["Gender"]);
				table[index].push(data[subject]["Condition"]);

				for(var k in data[subject]["File_path"]) {
					if(data[subject]["File_path"] != null)
						table[index].push(data[subject]["File_path"][k]);
					else
						table[index].push("");
				}

				for(var k in data[subject]["Mark"]) {
					if(data[subject]["Mark"] != null)
						table[index].push(data[subject]["Mark"][k]);
					else
						table[index].push("");
				}

				for(var k in data[subject]["Essays"]) {
					table[index].push(data[subject]["Essays"][k]["Body"]);
				}

				index++;
			}

			currentHeaders = headers;
			currentTable = table;

			var headString = "<tr>";
			for(var head in headers)
				headString += "<td>" + headers[head] + "</td>";
			$('#tableHeader').html(headString + "</tr>");

			var tableString = "";
			for(var subject in table) {
				tableString += "<tr>";
				for(var detail in table[subject]) {
					tableString += "<td>" + table[subject][detail] + "</td>";
				}
				tableString += "</tr>";
			}
			$('#tableBody').html(tableString);
		}

		function exportCSV() {
			var csvContent = "data:text/csv;charset=utf-8,";
			currentHeaders.forEach(function(header, index) {

				if(index < currentHeaders.length - 1)
						csvContent += header + ",";
				else
					csvContent += header;
			});
			csvContent += "\n";

			currentTable.forEach(function(subject, index){

				subject.forEach(function(detail, index) {
					if(index < subject.length - 1)
						csvContent += detail + ",";
					else
						csvContent += detail;

				});	
				csvContent += "\n";
			}); 

			var encodedUri = encodeURI(csvContent);
			var link = document.createElement("a");
			link.setAttribute("href", encodedUri);
			link.setAttribute("download", currentStudy + "-" + currentGroup + "-view.csv");
			link.click();
		}
